* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.3;
    font-family: SF Pro Text ,Helvetica, Arial, sans-serif;
}

.main {
    max-width: 2000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

img {
    /* This allows img resize itself automatically*/
    max-width: 100%;
    max-height: 100%;
}

/* This prevent href color change */
a {
    text-decoration: none;
    color: inherit;
}

.nav {
    background-color: rgba(0,0,0,0.8);
    color: #f5f5f7;
    font-weight: 400;
    font-size: 19px;
    line-height: 3.66667;
    letter-spacing: -0.01em;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav_left_items {
    display: flex;
    margin-left: 20px;
    margin-right: auto;
}
.nav_right_items {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.nav_item {
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.left_title {
    display: flex;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
    height: 120px;
}

.right_title {
    display: flex;
    margin-right: 40px;
    margin-left: auto;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    text-align: right;
    margin-top: 10px;
    color: #1d1d1f;
}

.intro {
    margin-top: 20px;
    display: flex;
    background-color: #f5f5f7;
    align-items: center;
    border-radius: 5%;
}

.intro_text {
    display: flex;
    margin-right: auto;
    margin-left: 40px;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    text-align: left;
    letter-spacing: 1px;
}

.intro_text h1 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 40px;
}

.intro_text p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro_text ul {
    margin-left: 50px;
}

.intro_picture img{
    display: flex;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 40px;
    width: 500px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub_title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.hobby {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    max-width: 100%;
    padding: 10px;
    background-color: #f5f5f7;
    border-radius: 5%;
}

.workout {
    display: flex;
    margin-right: auto;
}

.workout_img img{
    border-radius: 10px;
    max-width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dive {
    display: flex;
    margin-left: auto;
}

.dive_img img {
    border-radius: 10px;
    max-width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hobby_description {
    max-width: 400px;
    height: 400px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.description_title {
    background: rgba(89, 88, 88, 0.18);
    font-weight: bold;
    letter-spacing: -0.01em;
    height: 53px;
    text-align: center;
    line-height: 53px;
    border-bottom: 1px solid black;
}

.story {
    text-align: center;
    padding: 10px;
    line-height: 50px;
}

.copyright {
    display: flex;
    border-top: black;
    text-align: left;
}

.past_experience {
    display: flex;
    background-color: #f5f5f7;
    align-items: center;
    border-radius: 5%;
    pad: 10px;
    font-size: 30px;
}

.military_pic img {
    margin-left: 20px;
    border-radius: 10px;
    max-width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.military_story {
    margin-left: 40px;
    font-size: 30px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.military_story h1 {
    padding: 5px;
    border-bottom: 1px solid black;
    background: rgba(89, 88, 88, 0.18);
}
.military_story ul {
    margin-left: 50px;
}

.last_sub_title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.sub_sub_title {
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.connect {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    padding: 20px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.connect_item {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 4px;
}

.connect_item_title {
    font-size: 30px;
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid black;
    max-height: 65px;
    line-height: 65px;
}

.connect_icon img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.connect_link {
    margin: auto;
    min-width: 0;
    border: 2px solid #007bff;
    background: #007bff;
    color: #f5f5f7;
    border-radius: 4px;
    font-weight: 600; 
    width: 500px;
    height: 50px;
    line-height: 50px;
}

.copyright {

}